<html>
    <head>
       
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200&family=Montserrat:wght@500&display=swap');
            body{
                font-family: 'Montserrat', sans-serif;
                background-image: url("https://i.picsum.photos/id/830/1600/900.jpg?hmac=WBeqruhRe4s1E8SestkBwuHi9PqXkWGPd0xuz34hnwk");
                padding:1rem;
                display: flex;
                background-repeat: no-repeat;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                background-size: cover;
            }
            .button{
                width:8rem;
                padding: 8px;
                background-color:#2885BE;
                margin:1rem;
                border-radius: 5px;
                cursor: pointer;
                /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
                text-decoration: none;
                color:black;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
            }
            .contain{
                width:300px;
                height:fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            .home_head{
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                width: 80%;
                background-color:white ;
                border-radius: 10px;
                height: fit-content;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top:2rem;
                margin-bottom: 4rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        </style>
    </head>
    <body>
        <div class="home_head">
            WELCOME USER
        </div>
        <div class="contain">
            <% if(locals.check) { %>
                <a href="/login" class="button">
                    Login
                </a>
                <a href="/signup" class="button">
                    Signup
                </a>
            <% } %>

            <% if(locals.logout) { %>
                <form action="/profile-get" method="GET">
                    <button style="outline: none;" class="button" type="submit">Profile</button>
                </form>
                <form action="/logout-form" method="POST">
                    <button style="background-color: grey;"  class="button" type="submit">Logout</button>
                </form>
            <% } %>
            <br><br>
            <form action="/admin-get" method="GET">
                    <button class="button" type="submit">Admin</button>
            </form>
        </div>
        
    </body>
</html>